/*-- scss:defaults --*/
// Base document colors
//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$black: #000 !default;

$blue: #003da5 !default;
$indigo: #002e5d !default;
$purple: #72246C !default;
$pink: #A73A64 !default;
$red: #9E2A2B !default;
$orange: #fd7e14 !default;
$yellow: #f89406 !default;
$green: #44693D !default;
$teal: #00966C !default;
$cyan: #BDD6E6 !default;

// Code blocks
$code-block-bg-alpha: -.8;